body {
    background-color: rgb(207, 106, 106);
    color: beige;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: peachpuff;
}
a:hover{
    text-decoration: none;
    color: coral;
}
.container-1, .container-2, .container-3{
    width: 90%;
    text-align: left;
    margin:auto;
    overflow:hidden;
}
.container-2 img{
    padding:50px;
    padding-top: 0px;
    align-self: center;
}
.container-2 ul{
    list-style: none;
}
.container-2 li{
    padding:10px;
    padding-bottom: 0px;
}
.container-3{
    padding:30px;
    margin-right: 20px;
    border: solid 5px burlywood;
    margin: 10x;
    box-sizing: border-box;

}
.container-3 label{
    display: block;
    padding: 4px;
}
.container-3 input[type="text"], .container-3 textarea{
    padding: 8px;
    width:90%;
    margin-bottom: 15px;
}
.container-3 input[type="submit"]
{ background-color: wheat;
color: chocolate;
padding:10px 15px;
border: none;
}
@media( min-width:700px){
.container-2{
    float:left;
    width:50%;
    padding:10px;
    box-sizing: border-box;

}
.container-3{
    float: right;
    width:48%;
    padding:30px;
    border: solid 5px burlywood;
    margin: 10x;
    box-sizing: border-box;

}
}